.card {
  width: 50%;
  height: 50%;
  border: 2px solid black;
}

.col-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.col-3 p {
  margin: 10px 20px;
  text-transform: capitalize;
}
.col-3 p h3 {
  margin-top: 10px;
}

.col-3 button {
  display: block;
  margin-left: auto;
  margin-right: 17px;
  text-decoration: none;
  color: black;
}
.col-3 button a {
  text-decoration: none;
  color: black;
}
