.form_flight {
  margin: 30px;
}

.types {
  margin: 10px 20px;
}

.flight_search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.search {
  margin-top: 10px;
  width: 250px;
  padding: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
button {
  width: 17%;
  margin: 10px;
  height: 38px;
}
